{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Legends</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'display_characters' %}">Postacie</a></li>
                <li><a href="{% url 'display_maps' %}">Mapy</a></li>
                <li><a href="{% url 'display_ranks' %}">Rangi</a></li>
                <li><a href="{% url 'display_roles' %}">Role</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Witaj w świecie League of Legends!</h1>
            <p>Odkryj postacie, mapy, rangi i role w tej niezwykłej grze.</p>
        </section>
    </main>
</body>
</html>
